html {
  font-family: 'Raleway', sans-serif;
}

.footer {
  text-align: center;
}

.logo {
  font-weight: bold;
}

.btn {
  background-color: #fc7d74;
  border-color: #fc7d74;
  border-radius: 50px;
}

.section-dark {
  background-color: #122c45;
}

a {
  color: #fff;
}

.masthead {
  text-align: center;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  font-weight: 800;
  color: #4f5e78;
}

h2 {
  font-weight: normal;
  color: #4f5e78;
}

h3 {
  font-weight: bold;
  color: #4f5e78;
}

h4 {
  font-weight: 800;
  color: #4f5e78;
}

.nav a {
  text-decoration: none;
}

.copyright {
  color: #fff;
}

p {
  color: #4f5e78;
}

.reviewbody {
  font-style: italic;
}

.reviews {
  background-color: #d4e2fa;
}

@media only screen and (min-width: 25em) {

  .nav li {
    display: inline-block;
  }

  .firstbtn {
    visibility: hidden;
  }

}

@media only screen and (min-width: 38em) {

  .toplogo {
    text-align: left;
  }

  .footer {
    text-align: left;
  }

  .nav-footer {
    text-align: right;
  }

  .firstbtn {
    visibility: visible;
  }

}
